html{
    background-color: aliceblue;
    background-image: -webkit-linear-gradient(65deg, purple 50%, aliceblue 50%);
    font-family: Helvetica, sans-serif;  
}


body{
    height: 100vh;
    
}


h1{
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 4rem;
    height: 3rem;
    
    
}
p{
  font-family: Helvetica, sans-serif;  
}


.flex{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.field-br {
    word-break: break-all; 
  }
.flex-box{
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 50px;
    width: 400px;
}
input:checked+p{
    text-decoration: line-through;
    text-decoration-color: plum;

}

.item{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    margin-top: 50px;
}

.check{
    display: inline-block;
    
}


.text{
    display: inline;
    
}